extends ../layout

include ../mixins/_loginForm


block navbarTop
		nav.navbar-top-container.fixed-header
			button.toggle-button.btn-toggle-menu.btn-hamburger.js-slideout-toggle
				.toggle-view
					.toggles
						.toggle-icon
					.title-toggle فهرست
			button#go-back(type=button, onClick=`window.history.back()`)
				.go-back-icon
					.inner-go-back-icon
				.title-toggle بازگشت
block slideOutMenu
block content
	.header-text
		span #{title}
		
	+loginForm()
block footer
block navbar-bottom