@keyframes slideIn {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.flash {
    display: flex;
    justify-content: space-between;
    margin: 0.2em 1em;
    padding: 0.2em 0.5em;
    border-radius: 2px;
	font-family: $normalfont;
	align-items: center;
	 animation: slideIn forwards .1s ease-in-out 2;
  animation-timing-function: cubic-bezier(0.01, 1.68, 0.58, 1);
  & + .flash {
    animation-delay: 0.55s;
	}
    & + .flash {
      animation-delay: 0.6s;
	  }
}


.flash--error {
 background: #F14336;
}

.flash--info {
background: #FBBB00;
}

.flash--success {
background: #28B446;
}

.flash__text {
    font-size: .8em;
    color: white;
}

.flash__remove {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
}
button {
border: none;
background: none;
}